.home {
    text-align: center;
}

.home i {
    position: relative;
    top: 5px;
}

.home .btn {
    background-color: #343a40 !important;
    border: none;
}

.contenedor {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonera {
    /* background: red; */
    width: max-content;
    border: 2px solid #343a40;
    border-radius: 5px;
}

.botonera a {
    margin: 30px 15px;
    transition: all 0.5s;
}

.botonera a:hover {
    transform: scale(1.1);
}